<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/lists">Lists</a></li>
  <li class="breadcrumb-item active">{{list.name}}</li>
</ol>
