<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Fast, Reliable and Authentic Email Validator</h1>
      <hr>
      <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
      <a href="/users/sign_in" class="btn btn-primary btn-xl page-scroll hvr-sweep-to-right">Get Started Now</a>
    </div>
  </div>
</header>